@import '../variable';
.todo-list-item {
}
.wrapper {
}
.text {
    font-size: 30px;
    color: $black;
}
.date {
    font-size: 18px;
    color: $grey;
}

.is-complete {
    color: $grey;
    text-decoration: line-through;
}
