@import '../common';
.container {
    padding: 20px;
    .title {
        color: #222222;
        margin: 0;
    }
    .body {
        display: flex;
        .code {
            margin-right: 20px;
            flex: 1;
        }
        .result {
            flex: 1;
        }
        .sub-title-container {
            @extend .flex-center;
            margin: 10px 0;
        }
        .sub-title {
            font-size: 20px;
            margin-right: 10px;
        }
    }
}
